.pos-header {
    margin-top: 10px;
}

.busca {
    display: inline;
}

.filtro{
    display: inline;
    margin-left: 400px;
}

select {
    font-size: 15px;
    color: black;
    border-style: solid;
    border-color: black;
    padding: 2px;
    border-radius: 7px;
}

.filmes {
    padding: 0 30px;
}

li {
    text-decoration: none;
    display: inline-block;
    width: 300px;
    text-align: center;
    vertical-align: top;
}

h2{
    margin-top: 0;
    margin-bottom: 0;
}

.poster{
    width: 200px;
    height: 300px;
    box-shadow: 5px 5px 5px #000000;
}

.titulo{
    text-align: center;
    width: 80%;
    margin-left: 30px;
}

@media screen and (max-width: 480px) {

    form{
        margin-left: 20px;
    }

    button {
        right: 220px;
    }

    .filtro {
        margin-left: 50px;
    }

    .filmes {
        text-align: center;
    }
    
    .titulo {
        margin-bottom: 20px;
    }
}