body {
    background: #f2f2f2;
}

header {
    background-color:#005ca9;
    color: #f2f2f2;
    text-align: center;
    padding: 10px;
}

a {
    text-decoration: none;
    color: #f2f2f2;
}

h3 {
    display: inline-block;
    align-items: center;
    margin: 0 50px;
}

.busca {
    margin-top: 15px;
}

form{
    text-align: center;
    margin-left: 560px;
    display: inline;
}

.pesquisa {
    width: 40%;
    border-style: solid;
    border-color: black;
    border-radius: 7px;
    padding: 10px;
    font-size: 15px;
}

::placeholder {
    color: black;
}

button {
    background-color: #005ca9;
    color: #f2f2f2;
    border: 0;
    border-radius: 0 5px 5px 0;
    position: absolute;
    right: 566px;
    transform: translateY(2%);
    transform: translateX(1%);
    font-size: 20px;
    padding: 9px;
    cursor: pointer;
}

.apresentacao {
    margin-top: 30px;
    width: 50%;
    float: left;
}

.descricao {
    margin-top: 250px;
}

p {
    text-align: center;
    font-size: 25px;
    text-align: center;
    margin: 0;
}

footer {
    text-align: center;
    background-color: #005ca9;
    color: #f2f2f2;
	font-size: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}